
CAJA PRINCIPAL ADA369 C#/PUNTO_DE_VENTA_CODIGO369_CSHARP/PUNTO_DE_VENTA_CODIGO369_CSHARP/MODULOS/usuariosok.Designer.cs
CAJA PRINCIPAL ADA369 C#/PUNTO_DE_VENTA_CODIGO369_CSHARP/PUNTO_DE_VENTA_CODIGO369_CSHARP/PUNTO_DE_VENTA_CODIGO369_CSHARP.csproj
CAJA PRINCIPAL ADA369 C#/PUNTO_DE_VENTA_CODIGO369_CSHARP/PUNTO_DE_VENTA_CODIGO369_CSHARP/MODULOS/usuariosok.resx
*.resx
*.cs
CAJA PRINCIPAL ADA369 C#/PUNTO_DE_VENTA_CODIGO369_CSHARP/PUNTO_DE_VENTA_CODIGO369_CSHARP/MODULOS/usuariosok.Designer.cs
CAJA PRINCIPAL ADA369 C#/PUNTO_DE_VENTA_CODIGO369_CSHARP/PUNTO_DE_VENTA_CODIGO369_CSHARP/MODULOS/usuariosok.resx
*.resx

