USE [URP_SISTEMA_COMPRA]
GO
/****** Object:  StoredProcedure [dbo].[MOSTRAR_MOVIMIENTOS_DE_CAJA_POR_SERIAL_y_usuario]    Script Date: 10/2/2021 18:33:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[MOSTRAR_MOVIMIENTOS_DE_CAJA_POR_SERIAL_y_usuario]

	 @serial VARCHAR(50)
	,@idusuario INT

AS
SELECT 
	 USUARIO2.Login
	,USUARIO2.Nombres_y_Apellidos    
FROM 
	MOVIMIENTOCAJACIERRE 
INNER JOIN USUARIO2 ON USUARIO2.idUsuario = MOVIMIENTOCAJACIERRE.Id_usuario
INNER JOIN Caja ON Caja.Id_Caja =MOVIMIENTOCAJACIERRE.Id_caja 
WHERE 
	Caja.Serial_PC = @serial AND MOVIMIENTOCAJACIERRE.Estado = 'CAJA APERTURADA' 
	AND 
	MOVIMIENTOCAJACIERRE.Id_usuario = @idusuario AND USUARIO2.Estado ='ACTIVO'